*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.Navbar{
    width: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    border: 1px solid white;
}
.Navbar a{
    padding: 25px;
    display: block;
    text-decoration: none;
    color: white;
}
.Navbar a:hover{
    color: red;
}
#close{
    position: absolute;
    top: 22px;
    right: 10px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: width 0.5s;
}
#close:hover{
    color: red;
}
#open{
    border: none;
    font-size: x-large;
    position: absolute;
    top: 10px;
    text-decoration: none;
    cursor: pointer;
}
.Main{
    width: 100%;
    display: grid;  
    grid-template-columns: 1fr;
}
.Main h2{
    margin: 5px auto;
}
.Container{
    position:fixed;
    top:0px;
    z-index: 1;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
}
.Brand #open{
    margin-left: 5px;
}
.Brand span{
    position: absolute;
    top: 8px;
    left: 40px;
    font-size: xx-large;
    cursor: pointer;
}
.Menu{
    margin:20px;
}
.Menu a{
    text-decoration: none;
    padding-right: 40px;
    color: white;
    font-size: large;
}
.Menu a:hover{
    color: red;
}
.BackgroundText{
    width: 100%;
    background-color: black;
    height: 400px;
    display: flex;
    margin-top: 5px;
    justify-content: center;
    color:white;
}
.BackgroundText h1{
    animation: ComeDown 5s 1;
    margin-top: 160px;
    color:white;
}
.Owner{
    display: flex;
    text-align: center;
    margin-top: 5px;
    justify-content: space-around;
}
.Ceo img{
    height: 300px;
}
.Own img{
    height: 300px;
}
.Ceo p{
    padding-bottom: 20px;
}
.Own p{
    padding-bottom: 20px;
}
#btn{
    justify-self: center;
    border: 2px solid white;
    border-radius: 10px;
    font-size: large;
    transition: font-size 0.5s;
    background-color: black;
    color: white;
}
#btn:hover{
    font-size: x-large;
    transition: font-size 0.5s;
}
.Learn-More{
    width: 100%;
    height: 300px;
    background-color:snow;
    display: none;
    margin-top: 20px;
    text-align: center;
    transition: 0.5s ease   ;
}
.Products{
    width: 50%;
    margin: 10px auto;
    height: 400px;
}
.Policy{
    width: 100%;
    text-align: center;
    padding: 20px;
}
#Address{
    margin: 10px auto;
}
.Footer{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
}
.Footer h4{
    position: absolute;
    color: white;
    bottom: 10px;
    right: 10px;
}
.ScrollUp{
    position: fixed;
    right: 20px;
    bottom: 50px;
}
.Footer i{
    font-size: xx-large;
    color: white;
    margin: 20px;

}
@media(max-width:500px){
    .Owner{
        flex-direction: column;
    }
    .Container{
        position: fixed;
    }
    .Menu a{
        padding:2px;
    }
    .Products{
        width: 100%;
        height: 400px;
    }
}
@keyframes ComeDown{
    from{
        margin-top: 0px;                
    }
    to{
        margin-top: 160px;                
    }
}
